html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: #f5f5f5;
}

#main-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 12%;
    display: flex;
    justify-content: center;
}

div#cScenes {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

div#cScenes a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 220px;
    height: 150px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 0 2px 2px black;
    border-radius: 5px;
    color: black;
    transition: 0.5S;
}

div#cScenes a:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: 0.5S;
}